.footer
  background-image: url(../img/footer-1.png)
  background-repeat: no-repeat
  background-position: center
  background-size: auto
  height: 971px
  &__wrapper
    margin-top: -644px
    padding: 447px 0 0 0
  &__row
    margin: 0 0 28px 0
    color: $text-color-light
    font-size: 26px
    line-height: 28px
    font-weight: 700
  &__link
    color: $text-color-light
    font-weight: 700
  &__underline
    text-decoration: underline
    display: block
  &__sign-wrapper
    margin-bottom: 36px
    width: 52px
    height: 72.18px
  &__sign
    width: 100%
    height: 100%
    object-fit: cover
  &__warning-wrapper
    position: absolute
    font-size: 26px
    line-height: 72px
    top: 27px
    left: -69px