.main
  height: 1736px
  //background-image: url(../img/1.png)
  //background-repeat: no-repeat
  //background-position: center
  //background-size: cover
  color: $text-color-light
  //background-color: $background-color-pink
  &__tagline
    display: flex
    justify-content: space-between
    margin: 0 0 77px 0
    color: $main-tagline-color
    &-title
      display: block
      font-weight: 400
      line-height: 188px
      left: 120px
      font-size: 210px
      &::after
        position: absolute
        content: "®"
        font-size: 84px
        top: 0 
    &-text
      display: block
      font-size: 70px 
      padding-top: 41px
      line-height: 72px
      &::before
        position: absolute
        content: "—"
        font-size: 84px
        top: 81px
        left: 41%
  &__title
    color: $text-color-light
    margin: 0 0 25px 0
  &__trademark
    top: -7px
    right: 216px
  &__text
    margin: 0 0 59px 0
    width: 916px
    font-weight: normal
    font-size: 28px
    line-height: 28px
  &__list
    position: relative
    margin: 0 0 40px 0
  &__zott-image-wrapper
    position: absolute
    top: -76px
    right: -545px
  &__button
    margin-bottom: 151px

    
