.use
  display: flex
  flex-direction: column
  align-items: flex-end
  padding: 104px 0 201px 0
  &__title
    width: 698px
    margin: 0 -76px 0 0
  &__rows
    padding: 59px 0 40px 0
    margin: 0 -76px 0 0
  &__row
    display: flex
    justify-content: space-between
    width: 698px
    height: 100px
    margin: 0 0 24px 0
    padding: 0 32px 0 32px
    border-radius: 20px
    background-color: $background-row-color
    &:last-child
      margin-bottom: 0
  &__column-age
    width: 204px
    align-self: center
  &__column-reception
    width: 364px
    align-self: center
  &__age
    color: $age-row-color
  &__buttons
    display: flex
    justify-content: space-between
    width: 698px
    margin: 0 -76px 0 0
  &__man-wrapper
    position: absolute
    left: -172px
    top: 95px
    